/* Base styles */
body {
color: #434455; 
background-color:  #FFFFFF;
font-family: "Roboto", sans-serif;
font-style: normal
}
/* Common styles */

/* Base style */

/* Default values */
/* font-weight:400;
font-size:16px;
font-style: normal;
color: black;
background-color: #FFFFFF; */

/* Reset styles */
ul,
ol {
  list-style-type: none;
}
/*--header */
.header {

}
.header-nav {
color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-dark {
color: #2E2F42;
font-family: Raleway,sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-logo {
color: #4D5AE5;
font-family: Raleway,sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-list {
color: #434455; 
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
} 
.header-items {
}
.header-link {
color: #2E2F42; 
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
font-style: norma;
}
.header-link:hover,
.header-link:focus {
color: #404BBF;
}

.details {

}
.header-address {

}
.header-address-items {
}
.header-details {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing : 0.02em;
font-style: normal;  
}
.header-details:hover,
.header-details:focus {
color: #404BBF;
}
/* main */
/* section-hero */
/* region */
 .hero {
background: #2E2F42;
} 
.div-hero {
   background: #2E2F42; 
}
 .hero-title {
background-color:#2E2F42;
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}
 button {
color: #FFFFFF;
border-radius: 4px;
background: #4D5AE5;
font-weight: 500;
line-height: 1.5;
 letter-spacing: 0.04em;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
cursor: pointer
}
 button:hover,
 button:focus {
border-radius: 4px;
background-color: #404BBF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
 /* endregion */
/* region */
/* section-service */
.service {
background: #FFF;
}
.service-list {
}
.servis-items {
}
.service-caption {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em; 
}
.service-desc {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
 /* endregion */
/* section-team */
.team {
color:  #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team-wrapper {
}
.team-items {
}
.team-pic {
}
.team-title {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.2em;
}
.team-descr {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* section-port */
.port {

}
.port-title {
color:  #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;

}
.port-list {
color: #FFFFFF
}
.port-items {
}
.port-pic {
}
.port-caption {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.11;
letter-spacing: 0.2em;

}
.port-desc {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* footer*/
.foot {
 background-color: #2E2F42;
}
.logo-ligh {
color: #F4F4FD;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.foot-logo {
color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.foot-social {
background-color: #2E2F42;
color: #F4F4FD;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.03em;
}
.foot-social {
}
.foot-list {
}
.foot-items {
}
.foot-link {
}
.socials-icon {
}
.foot-caption {
color: #F4F4FD;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
